<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bang_thuong.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,1095},{90,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,91}}</string>
				<key>sourceSize</key>
				<string>{90,91}</string>
			</dict>

			<key>bet.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,1165},{42,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,20}}</string>
				<key>sourceSize</key>
				<string>{42,20}</string>
			</dict>

			<key>bg_bet.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,135},{408,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{408,165}}</string>
				<key>sourceSize</key>
				<string>{408,165}</string>
			</dict>

			<key>bg_bottom.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1191,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1191,133}}</string>
				<key>sourceSize</key>
				<string>{1191,133}</string>
			</dict>

			<key>bg_money.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,476},{296,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{296,135}}</string>
				<key>sourceSize</key>
				<string>{296,135}</string>
			</dict>

			<key>bg_money_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,614},{93,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{93,107}}</string>
				<key>sourceSize</key>
				<string>{93,107}</string>
			</dict>

			<key>bg_money_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,505},{93,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{93,107}}</string>
				<key>sourceSize</key>
				<string>{93,107}</string>
			</dict>

			<key>bg_money_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,396},{93,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{93,107}}</string>
				<key>sourceSize</key>
				<string>{93,107}</string>
			</dict>

			<key>btn_auto_spin_disable.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,917},{101,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{101,102}}</string>
				<key>sourceSize</key>
				<string>{101,102}</string>
			</dict>

			<key>btn_auto_spin_enable.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,292},{101,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{101,102}}</string>
				<key>sourceSize</key>
				<string>{101,102}</string>
			</dict>

			<key>btn_exit.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,927},{107,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,72}}</string>
				<key>sourceSize</key>
				<string>{107,72}</string>
			</dict>

			<key>btn_freecoin.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,1084},{121,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,87}}</string>
				<key>sourceSize</key>
				<string>{121,87}</string>
			</dict>

			<key>btn_history.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,1002},{92,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{92,91}}</string>
				<key>sourceSize</key>
				<string>{92,91}</string>
			</dict>

			<key>btn_play_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,1084},{155,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,79}}</string>
				<key>sourceSize</key>
				<string>{155,79}</string>
			</dict>

			<key>btn_pressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1003},{172,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,161}}</string>
				<key>sourceSize</key>
				<string>{172,161}</string>
			</dict>

			<key>btn_quick_spin.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,808},{81,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,82}}</string>
				<key>sourceSize</key>
				<string>{81,82}</string>
			</dict>

			<key>btn_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,816},{92,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{92,91}}</string>
				<key>sourceSize</key>
				<string>{92,91}</string>
			</dict>

			<key>btn_top.png</key>
			<dict>
				<key>frame</key>
				<string>{{579,135},{92,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{92,91}}</string>
				<key>sourceSize</key>
				<string>{92,91}</string>
			</dict>

			<key>coin.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,1021},{34,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,42}}</string>
				<key>sourceSize</key>
				<string>{34,42}</string>
			</dict>

			<key>gem_100.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,380},{167,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{167,155}}</string>
				<key>sourceSize</key>
				<string>{167,155}</string>
			</dict>

			<key>gem_101.png</key>
			<dict>
				<key>frame</key>
				<string>{{392,694},{167,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{167,155}}</string>
				<key>sourceSize</key>
				<string>{167,155}</string>
			</dict>

			<key>gem_102.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,1003},{167,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{167,155}}</string>
				<key>sourceSize</key>
				<string>{167,155}</string>
			</dict>

			<key>gem_103.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,135},{167,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{167,155}}</string>
				<key>sourceSize</key>
				<string>{167,155}</string>
			</dict>

			<key>gem_104.png</key>
			<dict>
				<key>frame</key>
				<string>{{392,537},{167,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{167,155}}</string>
				<key>sourceSize</key>
				<string>{167,155}</string>
			</dict>

			<key>gem_105.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,770},{167,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{167,155}}</string>
				<key>sourceSize</key>
				<string>{167,155}</string>
			</dict>

			<key>gem_98.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,613},{167,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{167,155}}</string>
				<key>sourceSize</key>
				<string>{167,155}</string>
			</dict>

			<key>gem_99.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,927},{167,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{167,155}}</string>
				<key>sourceSize</key>
				<string>{167,155}</string>
			</dict>

			<key>hu.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,380},{383,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{383,94}}</string>
				<key>sourceSize</key>
				<string>{383,94}</string>
			</dict>

			<key>info.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,396},{83,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,83}}</string>
				<key>sourceSize</key>
				<string>{83,83}</string>
			</dict>

			<key>line.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,1165},{61,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,19}}</string>
				<key>sourceSize</key>
				<string>{61,19}</string>
			</dict>

			<key>lines_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,476},{84,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,29}}</string>
				<key>sourceSize</key>
				<string>{84,29}</string>
			</dict>

			<key>number.png</key>
			<dict>
				<key>frame</key>
				<string>{{497,292},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,52}}</string>
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>

			<key>number_highlight.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,1021},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,52}}</string>
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>

			<key>paytable_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,1160},{149,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{149,29}}</string>
				<key>sourceSize</key>
				<string>{149,29}</string>
			</dict>

			<key>shop.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,723},{82,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,83}}</string>
				<key>sourceSize</key>
				<string>{82,83}</string>
			</dict>

			<key>spin.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,613},{221,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{221,193}}</string>
				<key>sourceSize</key>
				<string>{221,193}</string>
			</dict>

			<key>spin_pressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,808},{221,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{221,193}}</string>
				<key>sourceSize</key>
				<string>{221,193}</string>
			</dict>

			<key>sprite_bet.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,302},{95,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,60}}</string>
				<key>sourceSize</key>
				<string>{95,60}</string>
			</dict>

			<key>sprite_total_bet.png</key>
			<dict>
				<key>frame</key>
				<string>{{392,851},{144,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{144,33}}</string>
				<key>sourceSize</key>
				<string>{144,33}</string>
			</dict>

			<key>sprite_total_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,537},{85,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{85,60}}</string>
				<key>sourceSize</key>
				<string>{85,60}</string>
			</dict>

			<key>sprite_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{392,886},{139,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,29}}</string>
				<key>sourceSize</key>
				<string>{139,29}</string>
			</dict>

			<key>text_bet.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,1165},{42,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,20}}</string>
				<key>sourceSize</key>
				<string>{42,20}</string>
			</dict>

			<key>text_total_bet.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1166},{115,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,20}}</string>
				<key>sourceSize</key>
				<string>{115,20}</string>
			</dict>

			<key>text_total_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,1166},{46,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,19}}</string>
				<key>sourceSize</key>
				<string>{46,19}</string>
			</dict>

			<key>text_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,507},{69,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,27}}</string>
				<key>sourceSize</key>
				<string>{69,27}</string>
			</dict>

			<key>title.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,302},{398,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{398,76}}</string>
				<key>sourceSize</key>
				<string>{398,76}</string>
			</dict>

			<key>totalbet.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1166},{115,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,20}}</string>
				<key>sourceSize</key>
				<string>{115,20}</string>
			</dict>

			<key>treasure_speaker.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,723},{92,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{92,91}}</string>
				<key>sourceSize</key>
				<string>{92,91}</string>
			</dict>

			<key>treasure_speaker_mute.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,909},{92,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{92,91}}</string>
				<key>sourceSize</key>
				<string>{92,91}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1193,1191}</string>
			<key>textureFileName</key>
			<string>ui.png</string>
			</dict>
		</dict>
</plist>